.App {
  text-align: center;
}

.Navbar {
  text-align: center;
  padding: 1em;
  color: #ffffff;
  background-color: hsl(358, 92%, 64%);

}

.Footer {
  text-align: center;
  padding: 1em;
  color: #ffffff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@keyframes tilt {
  from {
    transform: rotate(0deg) skewX(0deg);
  }

  to {
    transform: rotate(0deg) skewX(10deg);
  }
}

.image-container img {
  animation: tilt 1s ease-in-out infinite alternate;
}

@keyframes tilt-left {
  from {
    transform: rotate(0deg) skewX(0deg);
  }

  to {
    transform: rotate(0deg) skewX(-10deg);
  }
}

.image-container img {
  width: 20%;
  animation: tilt 1s ease-in-out infinite alternate,
    tilt-left 1s ease-in-out infinite alternate;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: tilt 1s ease-in-out infinite alternate,
      tilt-left 1s ease-in-out infinite alternate;
  }
}

.App-header {
  background-color: #ffffff;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #f84f56;
}

.App-main {
  background-color: #ffffff;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #f84f56;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}